.brew-form {
    border: 1px solid black;
    width: 600px;
    height: auto;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.container {
    padding-left: 50px;
    padding-right: 50px;
}

.brew-name-section {
    margin-top: 10px;
}

.malt-section {
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px
}

.malt-name {
    display: inline-block;
}

.malt-measure {
    display: inline-block;
}

.yeast-section {
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px
}

.hops-section {
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px
}

.mash-schedule-section {
    border: 1px solid black;
}