.result-container {
    border: 1px black solid;
    width: 400px;
    height: 200px;
    border-radius: 3%;
    background-color: darkorange;
}

.brew-title {
    font-size: 28px;
    margin-left: 50px;
}

.brew-type {
    font-size: 18px;
    margin-left: 50px;
    display: inline-block
}

.abv {
    margin-left: 50px;
    display: inline-block
}