/*general resetting css*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

/*navbar css*/
h1 {
    z-index: 10000;
}

.navbar {
    border: 1px solid black;
    background-color: beige;
    padding-top: 10px;
    overflow: auto;
    position: fixed;
    width: 100%;
    top: 0;
}

.navbar-header {
    width: 40%;
    text-align: center;
    position: fixed;
}

.navbar-brand {
    font-size: 24px
}

.navbar-selection {
    border: solid 1px black;
    width: 60%;
    float: right;
    text-align: center;
}

.navbar-brand {
    display: inline-block;
}

.navbar-nav li {
    display: inline-block;
    padding-right: 30px;
    font-size: 24px
}

/*landing page*/
.form-horizontal {
  position: relative;
  top: 20px;
  border: 1px solid black;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
}

/*browsing page*/
.searchInput {
  width: 500px;
}

/*archive brew card*/
.results-list {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}

.brewItem {
    display: inline-block;
    border: 1px solid black;
    text-align: center;
}

/*brew-creator + brew-viewer css*/
.brew-form {
    border: 1px solid black;
    width: 600px;
    height: auto;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.container {
    padding-left: 50px;
    padding-right: 50px;
}

.brew-name-section {
    margin-top: 10px;
}

.malt-section {
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px
}

.malt-name {
    display: inline-block;
}

.malt-measure {
    display: inline-block;
}

.yeast-section {
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px
}

.hops-section {
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px
}

.mash-schedule-section {
    border: 1px solid black;
}

/*dashboard css*/
.dashboard-section {
    display: grid;
    position: relative;
    top: 15%;
    background-color: chocolate
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 10%;
    padding-bottom: 10%;
}

.grid-item {
    border: 1px solid black;
    width: 50%;
    background-color: darkorange;
    padding: 5%;
    border-radius: 2%;
}

.dash-desc {
    position: relative;
    left: 10%
}

.dash-select {
    text-align: center;
    width: 400px;
    position: relative;
    right: 20%
}

.dashSelect {
    width: 100%;
    padding-top: 10%
}

.dashSelect a {
    display: block;
    padding-bottom: 10px;
}

/*Footer css*/
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

/*browser css*/
/*
.recipeSection {
    display: none
}

.hidden {
    display: none
}

.shown {
    display: inline-block !important;
}
*/
